/* Style for the header element */
header {
  height: 500px;
  width: 100%;
  margin-top: 8rem;
  background-color: #AC3CAC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  background-repeat: repeat;
  font-family: "Source Sans Pro", sans-serif;
}

/* Style for the avatar */
header img {
  max-width: 100%;
  height: auto;
}

/* Style for the name */
header h2 {
  margin-top: 10px;
  color: #ecf0f1;
}