/* Style for the nav element */
nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  /* 1.5ems of space on the right and left */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the span within the nav */
nav span {
  font-family: "Bungee", sans-serif;
  font-size: 48px;
}

/* Style for the new tweet section on the right */
.new-tweet-header {
  display: flex;
  align-items: center;
}

#compose {
  margin-right: 10px;
}